.container {
  width: 700px;
  height:108px;  
  margin-bottom: 48px;  

  h1 {
    color: var(--body);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  h2 {
    color: var(--heading);
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 24px;
  }
}

.containerInfos{
  display: flex;  

  div {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  h3 {
    font-size: 14px;
    font-weight: normal;
    color: var(--info);
    margin-left: 8px;
  }
}

